[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
pycryptodome = "*"
pymongo = "*"

[dev-packages]
black = "*"
uvicorn = "*"
pytest = "*"
requests = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
